footer {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;

    width: 100vw;


    font-size: 18px;
}

footer span {
    padding-left: 60px;
}

@media only screen and (max-width: 480px) {
    footer {
        position: relative;


        top: 1250px;
        padding: 10px;
        padding-bottom: 20px;

        font-size: 0.8rem;
    }

    footer img {
        width: 40%;
    }
}